:root {
  --color-red: #f72210;
}

.bg-red {
  background-color: var(--color-red);
}

.text-red {
  color: var(--color-red);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f5f6;
}

.show1 {
  display: none;
  margin-right: 5px;
}

.loader {
  display: none;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.loading {
  border: 2px solid #ccc;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-top-color: #1ecd97;
  border-left-color: #1ecd97;
  animation: spin 1s infinite ease-in;
}

.input1 {
  width: 25%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.input1:focus {
  width: 80%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
